* {
	box-sizing: border-box;
	text-align: center;
}

body {
	background-image: url(../images/spurs_wallpaper.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 20%;
}

#wrapper {
	background-image: url(../images/duncan_background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 5%;
	border: 10px black solid;
	max-height: 60%;
	max-width: 70%;
	height: 600px;
	width: 960px;
}

h1 {
	color: white;
	font-family: 'Kanit', sans-serif;
	font-size: 5.5em;
	text-shadow: 5px 5px #4effdf;
	border: 10px #ff9e43 solid;
	margin: 0% 5% 10% 5%;
}



button {
	padding-top: 5%;
	padding-bottom: 5%;
    font-size: -webkit-xxx-large;
    border: 2px #4effdf solid;
    color: #ff9e43;
    background: black;
    padding-left: 20%;
    padding-right: 20%;
}

button:hover { 
	background: white;
}

div p {
	font-family: 'Kanit', sans-serif;
	color: #4effdf;
	font-size: 2em;
	text-shadow: 5px 5px black;
	margin-top: -3% ;
}

.gameTimeAs {
	padding-top: 0%;
	padding-bottom: 0%;
	margin-top: 0%;
    margin-right: 5%;
}



